body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5em;
}

main {
    width: 100%;
    max-width: 25em;
    margin: 100px auto 0 auto;
}

h1 {
    font-size: 2em;
    line-height: 1.5em;
    margin: 0.75em 0 0.75em 0;
    text-align: center;
}

p {
    margin: 0 0 1.5000em 0;
}

label {
    display: block;
    height: 1.5em;
}

/* Subtract the 0.625em padding so input can be width 100% */
.input-wrapper-outer {
    padding: 0 1.25em 0 0; /* 2x input padding */
}

/* account for 2px border to align input vertically and horizontally */
.input-wrapper-inner {
    padding: 0 4px 0 0; /* 2x border */
    margin: -2px 0; /* -border */
}

input {
    font-size: 1em;
    height: 1.5em;
    padding: 0.625em;
    margin: 0.875em 0;
    width: 100%;
    border-width: 2px;
}

button {
    font-size: 1em;
    padding: 0.625em;
    height: 3em;
    width: 100%;
    margin: 2.25em 0;
}
