<!doctype html>

<html lang="{{i18n.locale}}">
    <head>
        <title>{{i18n.success_title}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/styles.css">
    </head>

    <body>
        <main>
            <h1>{{i18n.success_title}}</h1>
            <p>{{i18n.success_message}}</p>
        </main>
    </body>
</html>
